table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
 
p {
  margin:0;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

td, th {
    width: 33.3%;
  }

#addButton{
  margin-bottom: 25px;
}